node-red.dashboard..txt
[{"id":"f60da8a3.27303","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5d3b4514.34f004","type":"ui_slider","z":"f60da8a3.27303","name":"max","label":"max agent","tooltip":"","group":"516b9cb4.5c2c5c","order":0,"width":0,"height":0,"passthru":false,"outs":"all","topic":"/ofx/cell/param/input","min":"100","max":"10000","step":"50","x":230,"y":560,"wires":[["17e5a774.233519","3a30e5a8.67f5b2"]]},{"id":"d9373978.c6b1a","type":"mqtt out","z":"f60da8a3.27303","name":"MQTT","topic":"/ofx/cell/param/input","qos":"1","retain":"false","broker":"fdb2a36d.926d28","x":930,"y":700,"wires":[]},{"id":"17e5a774.233519","type":"function","z":"f60da8a3.27303","name":"maxcmd","func":"value = msg.payload;\nmsg.payload = \"max \" + value;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":560,"wires":[["d9373978.c6b1a"]]},{"id":"3a30e5a8.67f5b2","type":"ui_gauge","z":"f60da8a3.27303","name":"max","group":"516b9cb4.5c2c5c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"value","min":0,"max":"10000","colors":["#00ff00","#ffff00","#ca3838"],"seg1":"8000","seg2":"9000","x":390,"y":640,"wires":[]},{"id":"fc44041b.84695","type":"ui_button","z":"f60da8a3.27303","name":"","group":"516b9cb4.5c2c5c","order":2,"width":0,"height":0,"passthru":false,"label":"reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"/ofx/cell/param/input","x":240,"y":460,"wires":[["d9373978.c6b1a"]]},{"id":"9cb6956b.345338","type":"ui_slider","z":"f60da8a3.27303","name":"scale","label":"scale","tooltip":"","group":"516b9cb4.5c2c5c","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"/ofx/cell/param/input","min":"0.1","max":10,"step":"0.1","x":240,"y":740,"wires":[["9c2217ba.6c5a28"]]},{"id":"9c2217ba.6c5a28","type":"function","z":"f60da8a3.27303","name":"scale","func":"value = msg.payload;\nmsg.payload = \"scale \" + value;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":740,"wires":[["d9373978.c6b1a"]]},{"id":"b2703656.6f0188","type":"ui_slider","z":"f60da8a3.27303","name":"middle","label":"middle","tooltip":"","group":"516b9cb4.5c2c5c","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"middle","min":"0.0001","max":"2","step":"0.001","x":230,"y":840,"wires":[["ea640826.8cc5f8","bf7c5b3a.db19f"]]},{"id":"ea640826.8cc5f8","type":"function","z":"f60da8a3.27303","name":"topic-cmd","func":"msg.payload = msg.topic + \" \"  + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":800,"wires":[["d9373978.c6b1a"]]},{"id":"bf7c5b3a.db19f","type":"ui_text","z":"f60da8a3.27303","group":"516b9cb4.5c2c5c","order":5,"width":0,"height":0,"name":"","label":"middle","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":780,"wires":[]},{"id":"f83ff9c0.2742a","type":"ui_slider","z":"f60da8a3.27303","name":"","label":"repulse","tooltip":"","group":"516b9cb4.5c2c5c","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"repulse","min":"0.001","max":"5","step":"0.01","x":250,"y":940,"wires":[["ea640826.8cc5f8","160659ad.6b75de"]]},{"id":"160659ad.6b75de","type":"ui_text","z":"f60da8a3.27303","group":"516b9cb4.5c2c5c","order":7,"width":0,"height":0,"name":"","label":"repulse","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":980,"wires":[]},{"id":"769abb6c.4ba474","type":"ui_slider","z":"f60da8a3.27303","name":"","label":"die proba","tooltip":"","group":"516b9cb4.5c2c5c","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"dieproba","min":0,"max":"0.01","step":"0.001","x":240,"y":1040,"wires":[["d293c25d.b4bc8","ea640826.8cc5f8"]]},{"id":"d293c25d.b4bc8","type":"ui_text","z":"f60da8a3.27303","group":"516b9cb4.5c2c5c","order":9,"width":0,"height":0,"name":"","label":"die proba","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1100,"wires":[]},{"id":"516b9cb4.5c2c5c","type":"ui_group","z":"","name":"Growth param","tab":"21e00994.7aea66","disp":true,"width":"6","collapse":true},{"id":"fdb2a36d.926d28","type":"mqtt-broker","z":"","name":"devmqtt","broker":"devmqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21e00994.7aea66","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]